.defaultItem {
    display: flex;
    flex: 1 1 0%;
    color: black;
    justify-content: center;
    padding: 10px
}

.defaultTable {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
}

.defaultTable:nth-child(even) {
    background-color: #f2f2f2;
}
