#bar{
    padding: 0;
    margin: 0;
    background-color: #0a1ecf;
}
  
#item{
    text-decoration: none;
    margin-left:5%;
    align-items: right;
    color: white;
}

#item:visited {
    color: inherit; /* or set a specific color */
}
  
.margin{
    padding: 0;
    margin-left: 85%;
    display: flex;
    list-style: none;
}

a:-webkit-any-link{
    color: inherit;
}